{include file="public/header-new" /}

 {include file="public/top" /}

 {include file="public/mobile-header" /}
<div class="diagnosis-page">
    <div class="page-header">
        <div class="breadcrumb">
            <div class="site-inner">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><span>Self Diagnosis</li>
                </ul>
            </div>
        </div>
        <div class="site-inner">
            <h1 class="page-title">Self Diagnosis</h1>
            <div class="sub-title">
                <p>Not sure what issue you are having with your device?</p>
                <p>Find out your issue and get a more accurate quote for a repair.</p>
            </div>
        </div>
    </div>
    <div class="diagnosis-search-block">    
            <div class="site-inner">
                <div class="ds-wrapper">
                    <form id="diagnosis-search" action="/diagnosis-results/" method="post">
                        <input type="text" name="ds-input"/>
                        <input type="submit" value="Search"/>
                    </form>
                </div>
            </div>
    </div>
    <div class="page-content">
        <div class="site-inner">
        <h2>What does the issue relate to? </h2>
        <div class="issues-block">
            <div class="issue-box">
                <a href="{:url('index/self_diagnosis_list')}">
                    <i class="icon-icons-screen-damage"></i>
                    <span>Screen / Display</span>
                </a>
            </div>
            <div class="issue-box">
                <a href="/self-diagnosis/power-battery-charging/">
                    <i class="icon-icons-battery"></i>
                    <span>Power / Battery /Charging</span>
                </a>
            </div>
            <div class="issue-box">
                <a href="/self-diagnosis/sound/">
                    <i class="icon-icons-sound"></i>
                    <span>Sound</span>
                </a>
            </div>
            <div class="issue-box">
                <a href="/self-diagnosis/camera/">
                    <i class="icon-icons-camera"></i>
                    <span>Camera</span>
                </a>
            </div>
            <div class="issue-box">
                <a href="/self-diagnosis/buttons/">
                    <i class="icon-icons-button"></i>
                    <span>Buttons</span>
                </a>
            </div>
            <div class="issue-box">
                <a href="/self-diagnosis/housing-frame/">
                    <i class="icon-icons-tablet"></i>
                    <span>Housing / Frame</span>
                </a>
            </div>
            <div class="issue-box">
                <a href="/self-diagnosis/signal-reception/">
                    <i class="icon-icons-reception"></i>
                    <span>Signal / Reception</span>
                </a>
            </div>
            <div class="issue-box">
                <a href="/self-diagnosis/water-damage/">
                    <i class="icon-icons-water-damage"></i>
                    <span>Water Damage</span>
                </a>
            </div>
        </div>
        </div>
    </div>

</div>

{include file="public/footer" /}

</body>
</html>