{include file="public/header-new" /}

 <!-- 头部搜索是否存在-->
{include file="public/top" /}

{include file="public/mobile-header" /}

<div class="diagnosis-page ds-cat-page">
    <div class="page-bg"></div>
    <div class="page-header">
        <div class="breadcrumb">
            <div class="site-inner">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/self-diagnosis/">Self Diagnosis</a></li>
                    <li><span>Screen / Display</li>
                </ul>
            </div>
        </div>
        <div class="site-inner">
            <h1 class="page-title">Screen / Display</h1>
        </div>
    </div>
    <div class="page-content">
        <div class="site-inner">
            <div class="page-content-withside">
                <div class="page-content-main">
                                       
                    <div class="sd-result-block">
                           <!-- todo  后期使用id 区分-->
                         <div class="sd-result-box">
                                <h3><a href="{:url('index/self_diagnosis_new')}">Display turns off by itself while having a phone call</a></h3>
                            </div>
                                                    <div class="sd-result-box">
                                <h3><a href="/self-diagnosis/screen-display/screen-often-freezes/">Screen often freezes</a></h3>
                            </div>
                                                    <div class="sd-result-box">
                                <h3><a href="/self-diagnosis/screen-display/screen-is-unresponsive/">Screen is unresponsive</a></h3>
                            </div>
                                                    <div class="sd-result-box">
                                <h3><a href="/self-diagnosis/screen-display/no-display/">No display</a></h3>
                            </div>
                                                    <div class="sd-result-box">
                                <h3><a href="/self-diagnosis/screen-display/lines-marks-flickering-on-screen/">Lines / Marks / Flickering on screen</a></h3>
                            </div>
					</div>

                    <div class="page-contact-bottom">
                    <p>Can't find your issue listed above?</p> 
                    <p><a href="/store-locator/">Visit a Happytel store</a> or <a href="/contact-us/">Contact us</a></p>
                    </div>
                </div>
                <div class="page-content-sidebar">
                    <h3>What does the issue<br/>relate to?</h3>
                    <div class="issues-block">
                    <div class="issue-box">
                        <a href="/self-diagnosis/screen-display/">
                            <i class="icon-icons-screen-damage"></i>
                            <span>Screen / Display</span>
                        </a>
                    </div>
                    <div class="issue-box">
                        <a href="/self-diagnosis/power-battery-charging/">
                            <i class="icon-icons-battery"></i>
                            <span>Power / Battery /Charging</span>
                        </a>
                    </div>
                    <div class="issue-box">
                        <a href="/self-diagnosis/sound/">
                            <i class="icon-icons-sound"></i>
                            <span>Sound</span>
                        </a>
                    </div>
                    <div class="issue-box">
                        <a href="/self-diagnosis/camera/">
                            <i class="icon-icons-camera"></i>
                            <span>Camera</span>
                        </a>
                    </div>
                    <div class="issue-box">
                        <a href="/self-diagnosis/buttons/">
                            <i class="icon-icons-button"></i>
                            <span>Buttons</span>
                        </a>
                    </div>
                    <div class="issue-box">
                        <a href="/self-diagnosis/housing-frame/">
                            <i class="icon-icons-tablet"></i>
                            <span>Housing / Frame</span>
                        </a>
                    </div>
                    <div class="issue-box">
                        <a href="/self-diagnosis/signal-reception/">
                            <i class="icon-icons-reception"></i>
                            <span>Signal / Reception</span>
                        </a>
                    </div>
                    <div class="issue-box">
                        <a href="/self-diagnosis/water-damage/">
                            <i class="icon-icons-water-damage"></i>
                            <span>Water Damage</span>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
jQuery(function($){
    var p = "screen-display";
    $(".issues-block .issue-box").each(function(e){
        var h = $(this).find(">a").attr("href");
        if(h.indexOf(p)>0){
            $(this).find(">a").addClass("actived");
        }
    });
});
</script>


{include file="public/footer" /}
</body>
</html>