{include file="public/header-new" /}

{include file="public/top" /}

{include file="public/mobile-header" /}

<div class="default-page basic-page box-page">
    <div class="page-bg"></div>
    <div class="page-header">
        <div class="site-inner">
            <h2 class="page-title">Terms and Conditions</h2>
            <div class="short-content">
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="site-inner">
            <div class="page-content-block">
                <h3><strong>Website Repair Offer  </strong></h3>
                <p style="padding-left: 30px;">• Offer only available while stocks last<br />
                    • Offer is only valid for repairs with an online quote email. Customers must show the email to redeem the offer<br />
                    • The offer is not valid with any repair services that are not noted in the email quote<br />
                    • The offer can only be redeemed at Happytel, Phone Adore and Phone Mania after the repair<br />
                    • The offer must be redeemed immediately after the repair with the repair transaction<br />
                    • The offer is not redeemable for cash or discount and cannot be exchanged</p>
                <p>&nbsp;</p>
                <h3><strong>General Return and Exchange</strong></h3>
                <p style="padding-left: 30px;">We would like to be your preferred partner for smart device accessories and repairs by delivering the best advice, service, and convenience &#8211; at competitive prices. If you are not fully satisfied with your purchase, let us help you with an exchange, refund or other services.</p>
                <p style="padding-left: 30px;">You can return the product(s) within 28 days of purchasing the product for an exchange or a full refund. Simply bring the product to us with all contents and packaging, tax invoice or proof of purchase, and we will process your exchange or refund.</p>
                <p style="padding-left: 30px;">However, Happytel offers the 14 days’ change of mind exchange policy to give customers a great service experience from Happytel.</p>
                <p style="padding-left: 30px;">If the product is not in a good condition (un-used, packed, no damages or accidents), the offer will not be accepted.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}
</body>
</html>