<!DOCTYPE html>
<html lang="en-AU" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="profile" href="http://gmpg.org/xfn/11">-->
    <!-- todo 关闭外站 ajax
    <script>
        var theme_directory = "phone.me/";
    </script>
    <script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
     -->
    <title>Phone Repair - Mobile Phone Repair Shop | Happytel</title>

    <!-- This site is optimized with the Yoast SEO plugin v7.8 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="Australia&#039;s most trusted mobile phone and tablet repairer offer fast, effective and reliable solutions for all your repair needs."/>
    <link rel="canonical" href="/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Phone Repair - Mobile Phone Repair Shop | Happytel" />
    <meta property="og:description" content="Australia&#039;s most trusted mobile phone and tablet repairer offer fast, effective and reliable solutions for all your repair needs." />
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="Happytel : Mobile Phone Repairs, Tablet Repairs, Mainboard Repairs" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Australia&#039;s most trusted mobile phone and tablet repairer offer fast, effective and reliable solutions for all your repair needs." />
    <meta name="twitter:title" content="Phone Repair - Mobile Phone Repair Shop | Happytel" />
     <!-- todo 注释掉 所与外网
    <script type='application/ld+json'>{
        "@context": "https:\/\/schema.org",
        "@type": "WebSite",
        "@id": "#website",
        "url": "https:\/\/www.happytel.com\/",
        "name": "Happytel : Mobile Phone Repairs, Tablet Repairs, Mainboard Repairs",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https:\/\/www.happytel.com\/?s={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
      -->

    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Happytel : Mobile Phone Repairs, Tablet Repairs, Mainboard Repairs &raquo; Feed" href="/feed/" />
    <!-- todo 注释掉所有外网链接       -->
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/",
            "svgExt": ".svg",
            "source": {"concatemoji": "https:\/\/www.happytel.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.10"}
        };
        !function (a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case"flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
                    case"emoji":
                        return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.everything || (h = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='yarppWidgetCss-css'  href='__STATIC__/home/wp-content/plugins/yet-another-related-posts-plugin/style/widget.css?ver=4.9.10' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='__STATIC__/home/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.2' type='text/css' media='all' />
    <link rel='stylesheet' id='wpsl-styles-css'  href='__STATIC__/home/wp-content/plugins/wp-store-locator/css/styles.min.css?ver=2.2.15' type='text/css' media='all' />
    <link rel='stylesheet' id='genericons-css'  href='__STATIC__/home/wp-content/themes/happytel/genericons/genericons.css?ver=3.4.1' type='text/css' media='all' />
    <link rel='stylesheet' id='twentysixteen-style-css'  href='__STATIC__/home/wp-content/themes/happytel/style.css?ver=4.9.10' type='text/css' media='all' />
    <!--[if lt IE 10]>
    <link rel='stylesheet' id='twentysixteen-ie-css'  href='__STATIC__/home/wp-content/themes/happytel/css/ie.css?ver=20160816' type='text/css' media='all' />
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='twentysixteen-ie8-css'  href='__STATIC__/home/wp-content/themes/happytel/css/ie8.css?ver=20160816' type='text/css' media='all' />
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel='stylesheet' id='twentysixteen-ie7-css'  href='__STATIC__/home/wp-content/themes/happytel/css/ie7.css?ver=20160816' type='text/css' media='all' />
    <![endif]-->
     <!-- todo-->
    <link rel='stylesheet' id='gforms_reset_css-css'  href='__STATIC__/home/wp-content/plugins/gravityforms/css/formreset.min.css?ver=2.3.3.1' type='text/css' media='all' />
    <link rel='stylesheet' id='gforms_datepicker_css-css'  href='__STATIC__/home/wp-content/plugins/gravityforms/css/datepicker.min.css?ver=2.3.3.1' type='text/css' media='all' />
    <link rel='stylesheet' id='gforms_formsmain_css-css'  href='__STATIC__/home/wp-content/plugins/gravityforms/css/formsmain.min.css?ver=2.3.3.1' type='text/css' media='all' />
    <link rel='stylesheet' id='gforms_ready_class_css-css'  href='__STATIC__/home/wp-content/plugins/gravityforms/css/readyclass.min.css?ver=2.3.3.1' type='text/css' media='all' />
    <link rel='stylesheet' id='gforms_browsers_css-css'  href='__STATIC__/home/wp-content/plugins/gravityforms/css/browsers.min.css?ver=2.3.3.1' type='text/css' media='all' />
     <!-- todo -->
    <link rel='stylesheet' id='addtoany-css'  href='__STATIC__/home/wp-content/plugins/add-to-any/addtoany.min.css?ver=1.14' type='text/css' media='all' />

    <script type='text/javascript' src='__STATIC__/home/wp-includes/js/jquery.min.js'></script>
    <script type='text/javascript' src='__STATIC__/home/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='__STATIC__/home/wp-content/plugins/add-to-any/addtoany.min.js?ver=1.0'></script>

    <!-- todo  上线后需要 修改地址 -->
    <script type='text/javascript'>
        /* <![CDATA[ */
        var ajax_tptn_tracker = {
            "ajax_url": "",
            "top_ten_id": "2",
            "top_ten_blog_id": "1",
            "activate_counter": "11",
            "tptn_rnd": "973990187"
        };
        /* ]]> */
    </script>

    <script type='text/javascript' src='__STATIC__/home/wp-content/plugins/top-10/includes/js/top-10-tracker.js?ver=4.9.10'></script>
    <!--[if lt IE 9]>
    <script type='text/javascript' src='__STATIC__/home/wp-content/themes/happytel/js/html5.js?ver=3.7.3'></script>
    <![endif]-->
    <!-- todo-->
    <script type='text/javascript' src='__STATIC__/home/wp-content/plugins/gravityforms/js/jquery.json.min.js?ver=2.3.3.1'></script>
    <script type='text/javascript' src='__STATIC__/home/wp-content/plugins/gravityforms/js/gravityforms.min.js?ver=2.3.3.1'></script>
    <script type='text/javascript' src='__STATIC__/home/wp-content/plugins/gravityforms/js/conditional_logic.min.js?ver=2.3.3.1'></script>
    <script type='text/javascript' src='__STATIC__/home/wp-content/plugins/gravityforms/js/placeholders.jquery.min.js?ver=2.3.3.1'></script>
    <!-- todo -->

    <link rel='https://api.w.org/' href='/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.10" />
    <link rel='shortlink' href='/' />
    <link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.happytel.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.happytel.com%2F&#038;format=xml" />

    <!-- todo 注释外站ajax    -->
    <script data-cfasync="false">
        window.a2a_config=window.a2a_config||{};a2a_config.callbacks=[];a2a_config.overlays=[];a2a_config.templates={};a2a_localize = {
            Share: "Share",
            Save: "Save",
            Subscribe: "Subscribe",
            Email: "Email",
            Bookmark: "Bookmark",
            ShowAll: "Show all",
            ShowLess: "Show less",
            FindServices: "Find service(s)",
            FindAnyServiceToAddTo: "Instantly find any service to add to",
            PoweredBy: "Powered by",
            ShareViaEmail: "Share via email",
            SubscribeViaEmail: "Subscribe via email",
            BookmarkInYourBrowser: "Bookmark in your browser",
            BookmarkInstructions: "Press Ctrl+D or \u2318+D to bookmark this page",
            AddToYourFavorites: "Add to your favorites",
            SendFromWebOrProgram: "Send from any email address or email program",
            EmailProgram: "Email program",
            More: "More&#8230;"
        };

        (function(d,s,a,b){a=d.createElement(s);b=d.getElementsByTagName(s)[0];a.async=1;a.src="https://static.addtoany.com/menu/page.js";b.parentNode.insertBefore(a,b);})(document,"script");
    </script>

    <style type="text/css"></style>
    <link rel="icon" href="__STATIC__/home/wp-content/uploads/2017/11/cropped-Happytel-HT-FavIcon-32x32.png" sizes="32x32" />
    <link rel="icon" href="__STATIC__/home/wp-content/uploads/2017/11/cropped-Happytel-HT-FavIcon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/home/wp-content/uploads/2017/11/cropped-Happytel-HT-FavIcon-180x180.png" />
    <meta name="msapplication-TileImage" content="__STATIC__/home/wp-content/uploads/2017/11/cropped-Happytel-HT-FavIcon-270x270.png" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/wp-content/themes/happytel/js/slick/slick.css"/>
     <!-- 添加-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15696982-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-15696982-1');
    </script>

</head>

<body class="home page-template page-template-templates page-template-home-page page-template-templateshome-page-php page page-id-2">

<header id="masthead" class="site-header" role="banner">
    <div class="header-top">
        <div class="site-inner-big">
            <div class="site-header-main">
                <div class="site-branding">
                    <a href="/">
                        <img src="__STATIC__/home/wp-content/themes/happytel/images/logo.png" alt="HappyTel">
                    </a>
                </div>
                <div id="site-header-menu" class="site-header-menu">
                    <nav id="site-navigation" class="main-navigation" role="navigation">
                        <div class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="primary-menu">
                            <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48">
                                <a href="{:url('index/online_quote')}">Online Quote</a></li>
                            <li id="menu-item-368" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368">
                                <a href="{:url('index/self_diagnosis')}">Self Diagnosis</a></li>
                                <!--
                            <li id="menu-item-415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415">
                                <a href="/store-locator/">Store Locator</a></li>
                                -->
                            <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                                <a href="{:url('contact/contact')}">Contact Us</a></li>
                                <!--
                            <li id="menu-item-481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-481">
                                <a href="/career-opportunities/">Career Opportunities</a>
                            </li>
                            -->
                        </ul></div>
                    </nav>
                </div>
                <div class="header-search">
                    <div class="header-search-block">
                        <form role="search" method="get" class="search-form" action="/">
                            <input type="search" class="search-field" placeholder="Search" value="" name="s" />
                        </form>
                        <a href="#" id="header-search-toggle"><i class="icon-icons-search"></i></a>
                    </div>
                </div>
            </div><!-- .site-header-main -->
        </div>
    </div>