<!-- 头部-->
<div class="header-bottom">
    <div class="site-inner-big">
        <div class="header-quote">
            <form id="header-searh-form" action="{:url('index/online_quote')}" method="post">
                <span>I would like to repair my </span>
                <span class="search-input-wrapper">
					<span id="header-search-brand-overlay" class="search-input-overlap"></span>
					<input id="header-search-brand" class="search-input" type="text" name="brand" placeholder="Apple" />
				</span>
                <span> model </span>
                <span class="search-input-wrapper">
					<span id="header-search-model-overlay" class="search-input-overlap"></span>
					<input id="header-search-model" type="text" class="search-input" name="model" placeholder="iPhone" />
				</span>
                <input type="submit" class="btn" value="Get a quote"/>
            </form>
        </div>
    </div>
</div>
</header>
<!-- .site-header -->
